.index-image {
  margin: 0 auto;
  align: center;
}




.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: Moccasin;
  padding: 30px 100px;
  font-family: arial, helvetica, sans-serif;
}

.footer ul {
  list-style: none;
  padding: 0;
  maring: 0;
}

.footer li {
  margin-bottom: 6px;
  font-size: 14px;
}

.social-icons img {
  width: 22px;
  margin-right: 10px;
  vertical-align: middle;
}
  

body {
  background-color: Peru;
  border: 5px solid Moccasin;
  border-radius: 6px;
}
