.index-image {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container-fluid {
  background-color: Peru;
}

.index-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.blog-preview {
  border: 5px solid Peru;
  border-radius: 5px;
  padding: 15px;
}

.index-paragraph {
  max-width: 800px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  row-gap: 15px;
  column-gap: 15px;
  align: center;
}

.gallery img {
  width: 30%;
  height: auto;
}

.gallery img:hover {
  transform: scale(1.1);
  background: black;
  z-index: 2;

}



h1 {
  text-align: center;
  font-family: Tagesschrift, system-ui;
}

h2 {
  text-align: center;
  font-family: Tagesschrift, system-ui;
}

h3 {
  text-align: center;
  font-family: Tagesschrift, system-ui;
}

p {
  text-align: center;
}

a {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: Moccasin;
  padding: 30px 100px;
  font-family: arial, helvetica, sans-serif;
}

.footer ul {
  list-style: none;
  padding: 0;
  maring: 0;
}

.footer li {
  margin-bottom: 6px;
  font-size: 14px;
}

.social-icons img {
  width: 22px;
  margin-right: 10px;
  vertical-align: middle;
}

.card-section {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
  

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  max-width: 400px;
  margin-bottom: 20px;
  flex: 1;
  transition: 0.5s;
  border: 3px solid Peru;
}

.card:hover {
  transform: scale(1.1);
  background: black;
  z-index: 2;
}
  
  

button {
  border-radius: 5px;
  background-color: Peru;
  max-width: 200px;
}

.button-section {
  text-align: center;
}

.ornament {
  display: flex;
  justify-content: center;
}

.ornament img {
  width: 25%;
}

.parallax-banner {
  height: 500px;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; 
  position: relative;
}

.parallax-banner-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.parallax-banner-content {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #faf7e8;
  text-shadow: 0 0 10px #000;
}

.parallax-banner-scroll {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  background-attachment: scroll; 
  position: relative;
}




body {
  background-color: Peru;
  border: 5px solid Moccasin;
  border-radius: 6px;
}

@media (max-width: 600px) {
}

@media (min-with:600px) and (max-with:1024px) {
}
