h1 {
  padding: 35px;
  text-align: center;
  background-color: Gold;
  font-size: 60px;
  color: DarkOrange;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: DarkOrange;
}

h3, h4, h4, h5 {
  text-align: center;
  font-size: 30px;
  background-color: DarkOrange;
  max-width: 40%;
  margin: 0 auto;
}

h8, h9, h10 {
  text-align: center;
  font-size: 25px;
  color: DarkOrange;
}

h6 {
  text-align: center;
  font-size: 30px;
}

h7 {
  text-align: center;
  font-size: 30px;
}

p {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: SlateBlue;
}

body {
  background-color: DarkSlateBlue;
}
