h1 {
  padding: 35px;
  text-align: center;
  background-color: Gold;
}

h2, h3, h4, h4 {
  text-align: center;
}

p {
  text-align: center;
  max-width: 60%;
}

body {
  background-color: DarkSlateBlue;
}
