h1 {
  padding: 35px;
  text-align: center;
  background-color: Gold;
  font-size: 60px;
}

h2, h3, h4, h4, h5 {
  text-align: center;
  font-size: 40px;
}

p {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

body {
  background-color: DarkSlateBlue;
}
