/*main title*/

.header {
  border: 1px solid black;
  padding: 35px;
  text-align: center;
  background-color: Gold;
}

h1 {
  font-size: 60px;
  color: DarkOrange;
}
/*subheading*/
h2 {
  font-size: 40px;
  color: DarkOrange;
}
/*episode numbers*/
h3, h4, h4, h5 {
  text-align: center;
  font-size: 30px;
  background-color: DarkOrange;
  max-width: 40%;
  margin: 0 auto;
}
/*these are the yellow quotes*/
h8, h9, h10 {
  text-align: center;
  font-size: 25px;
  color: Gold;
}
/*bees*/
h6 {
  text-align: center;
  font-size: 30px;
}
/*soccer balls*/
h7 {
  text-align: center;
  font-size: 30px;
}
/*paragraphs*/
p {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: SlateBlue;
}

body {
  background-color: DarkSlateBlue;
  border: 5px solid DarkOrange;
}
