/*main title*/

.header {
  border: 1px solid black;
  padding: 35px;
  text-align: center;
  background-color: FDD700;
}

a {
  color: red;
  text-decoration: none;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 60px;
  color: DarkOrange;
  font-family: helvetica;

}
/*subheading*/
h2 {
  font-size: 40px;
  color: 488C00;
}

.chapter-heading {
  border: 1px solid black;
  padding: 35px;
  text-align: center;
}
/*episode numbers*/
h3, h4, h4, h5 {
  font-size: 30px;
  background-color: 488C00;
  max-width: 40%;
  margin: 0 auto;
  font-family: Helvetica;
}
/*these are the yellow quotes*/
h8, h9, h10 {
  font-size: 25px;
  color: FDD700;
}

.emoji {
  text-align: center;
  font-size: 30px;
}
/*bees are h6 and soccer balls are h7*/

/*paragraphs*/
p {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
}

body {
  background-color: 483D8B;
  border: 5px solid 448C00;
}

#grad {
  background-image: linear-gradient(to bottom, 488C00, FDD700);
}
