
.blog-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: FFE4B5;
  max-width: 80%;
  margin: 80px auto;
  padding: 20px 40px;
}

.blog-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fiddle {
  width: 35%;
  height: auto;
  border-radius: 6px;
}

.date {
  font-size: 10px;
}

.post-title {
  font-size: 30px;
}

.post-preview {
  font-size: 10px;
}

.read-more {
  font-size: 10px;
}
