
nav {
  max-width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.blog-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: Moccasin;
  max-width: 80%;
  margin: 80px auto;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
}

.blog-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fiddle {
  width: 35%;
  height: auto;
  border-radius: 6px;
}

.date {
  font-size: 10px;
}

.post-title {
  font-size: 30px;
}

.post-preview {
  font-size: 10px;
}

.read-more {
  font-size: 10px;
}

/*this is where my Grid styling starts*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: auto;
}

.item {
  background-color: Moccasin;
  border-radius: 8px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
}

.item img {
  padding: 0px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.item p {
  text-align: center;
  display: flex;
  align-items: center;
}

/*this is the styling for my homepage*/

.index {
  max-width: 70%
  background color: Moccasin;
  margin: 0 auto;
  align: center;
}

body {
  background-color: BurlyWood;
}
